body {
    background: linear-gradient(rgb(255, 255, 255), rgb(0, 0, 255));
	/* background-size: 400% 400%; */
}

h1 {
    font-family: helvetica, arial;
    padding: 2%;
    text-align: center;
}

.text-stroke {
	color: white;
	font-size: 60px;
	-webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #0000ff;
}

.puzzle {
    background-color: black;
    color: white;
    fill: blue;
    text-align: center;
    text-justify: auto;
    opacity: 30%;
    cursor: pointer;
 }

.puzzle:hover {
    opacity: 90%;
    background-color: blue;
}

.piece-active {
    opacity: 60%;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {opacity: 90%; fill: #ff0000;}
    50% {opacity: 60%; fill: #0000ff;}
    100% {opacity: 90%; fill: #ff0000;}
  }

  .container {
    /* display: flex; */
    /* justify-content: center; */
  }

  .svgContainer {
    border: solid 5px blue;
    width: fit-content;
    height: fit-content;
    /* margin: 10%; */
    display: flex;
    /* justify-content: left; */
  }