body {
    background: linear-gradient(#ffffff, #ff8888, #ffffff);
    font-family: helvetica, arial, courier new;
    text-align: center;
	/* background-size: 400% 400%; */
}

h1:hover {
    font-style: italic;
}

h2: {
   top: 5%;
}

a, h2 {
    color: #0000ff !important;
    /* opacity: 50%;     */
}

h2:hover {
    opacity: 100%;
}

.subtle-info {
    color: #ff0000;
    opacity: 50%;
    font-style: italic;
}

.subtle-info:hover {
    opacity: 100%;
}

.text-stroke {
	color: white;
	font-size: 60px;
	-webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #ff0000;
}

.puzzle {
    background-color: black;
    color: white;
    fill: #ff0000;
    text-align: center;
    text-justify: auto;
    opacity: 30%;
    cursor: pointer;
 }

.puzzle:hover {
    opacity: 90%;
    background-color: #ff0000;
}

.piece-active {
    opacity: 70%;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {opacity: 80%; fill: #0000ff;}
    50% {opacity: 90%; fill: #7777ff;}
    100% {opacity: 80%; fill: #0000ff;}
  }

  .container {
    /* display: flex; */
    /* justify-content: center; */

  }

  .svgContainer {
    border: solid 5px #ff0000;
    width: fit-content;
    height: fit-content;

    margin: auto;

    /* margin: 10%; */
    display: flex;
    justify-content: center;
  }