body {
    background: #ffffdd80;
    font-family: 'Noto Serif', Verdana, Arial, serif;
    text-align: center;
}

a, h1, p {
    color: #414141 !important;
}

a:hover {
    color: #000000 !important;
}

h1 {
    margin-top: 0px;
    margin-bottom: 50px;
    font-weight: 100;
    font-size: xx-large;
}

.authors {
    margin-top: 80px;
}

::selection {
    color: white;
    background: #ff0000;
  }

.subtle-info {
    opacity: 50%;
    font-style: italic;
}

.subtle-info:hover {
    opacity: 100%;
}

.puzzle {
    background-color: black;
    color: white;
    fill: #ff0000;
    text-align: center;
    text-justify: auto;
    cursor: pointer;
 }

.puzzle:hover {
    opacity: 50%;
    background-color: #0000ff;
}

.piece-active {
    opacity: 30%;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {opacity: 30%; fill: #aa00ff;}
    50% {opacity: 60%; fill: #f00aff;}
    100% {opacity: 30%; fill: #aa00ff;}
  }

  .svgContainer {
    width: fit-content;
    height: fit-content;

    margin: auto;

    display: flex;
    justify-content: center;
  }