::selection {
    color: white;
    background: #ff0000;
}

.puzzle {
    background-color: black;
    color: white;
    fill: #ff0000;
    text-align: center;
    text-justify: auto;
    cursor: pointer;
}

g {
    fill: #dd0000;
    cursor: not-allowed;
}

.puzzle:hover {
    opacity: 50%;
    /* fill: #ff0aaa; */
}


@keyframes activeAnimation {
    0% {opacity: 30%; fill: #aa00ff;}
    50% {opacity: 60%; fill: #f00aff;}
    100% {opacity: 30%; fill: #aa00ff;}
}

.piece-active {
    opacity: 30%;
    animation-name: activeAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
